{% extends 'layout.html' %}



{% block content %}
<nav class="navbar navbar-default banner">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
          Welcome Dashboard
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-right navbar-form-search" role="search">
        <div class="search-form-container hdn" id="search-input-container">
          <div class="search-input-group">
            <button type="button" class="btn btn-default" id="hide-search-input-container"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></button>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search for...">
            </div>
          </div>

        </div>

        <button type="submit" class="btn btn-default" id="search-button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </form>
      <ul class="nav navbar-nav navbar-right navbar-nav-primary">
        <li><a href="#">Home</a></li>
        <li><a href="#">Project</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Publication</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">News</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="jumbotron">

    <div class="container ">
        <div class="row">
            <div class="col-lg-6  offset-lg-4">
                <div class="form-group purple-border">
                    <!--<label for="exampleFormControlTextarea4">Post</label>-->
                    <form name="postForm" id="postForm">
                        {% csrf_token %}
                        <input class="form-control" type="text" name="title" placeholder="Title"><br>
                        <textarea class="form-control" id="a" name="post_data" rows="3" placeholder="Text"></textarea>
                        <input type="hidden" name="user_id" value="{{member_id}}"><br>
                        <button type="submit" class="btn btn-success postbtn">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6  offset-lg-4">
                <div id="comments">
                    {% if data %}
                    {% for item in data %}
                        <div class='card col-lg-12'>
                            <div class='card-body'>
                                <h5 class='card-title'>{{item.title}}</h5>
                                <h6 class='card-subtitle mb-2 text-muted'>{{item.created_date}} | by {{item.user_details.first_name}} {{item.user_details.last_name}}</h6>
                                <p class='card-text'>{{item.comment_text}}</p>
                                <button type="button" class="btn btn-default likedislike" id="{{item.comment_id}}-{{item.likedislike}}">Like</button>
                            </div>
                        </div><br>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}

{% block javascript %}
  <script>
        $("form").submit(function( event ) {
                var values = $(this).serializeArray();
                console.log( $( this ).serializeArray() );
                event.preventDefault();
                data = {}
                for (field in values){
                    data[values[field]['name']] = values[field]['value']
                }
                $('.form-control').val('')
                 $.ajax({
                    type: "POST",
                    url: "/api/v1/comments/",
                    data: data,
                    success: function (response) {
                        console.log(response)
                        //$('.comments').remove();
                        var html = '';

                        for(item in response){
                            html += "<div class='card col-lg-12'><div class='card-body'><h5 class='card-title'>"+response[item]['title']+"</h5><h6 class='card-subtitle mb-2 text-muted'>"+response[item]['created_date']+"</h6><p class='card-text'>"+response[item]['comment_text']+"</p><a href='#' class='card-link'>Card link</a><a href='#' class='card-link'>Another link</a></div></div><br>";
                        }
                        $('#comments').empty();
                        $('#comments').append(html)

                    }
            });
        });
        $('.likedislike').click(function( event ){
            var commnet = $(this).attr("id").split('-');
            var commnet_id = commnet[0];
            var likedislike = commnet[1];
            event.preventDefault();
            data = {'commnet_id': commnet_id, 'likedisliked': likedislike}
            console.log(data)
            $.ajax({
                    type: "POST",
                    url: "/api/v1/likedislike/",
                    data: data,
                    success: function (response) {
                        console.log(response)
                    }

             });
        });
  </script>
{% endblock %}